{% extends "parserator_web/base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block body %}
<div class="container">
  <div class="row pt-5 pb-4">
    <div class="col-12">
      <h3 id="usaddress-parser"><i class="fa fa-fw fa-map-marker-alt"></i> U.S. address parser</h3>
      <p>Dealing with some messy or unstructured addresses? We can parse them for you.</p>
      <div class="card card-body bg-light">
        <p><strong>Try it out!</strong> Parse an address in the United States into fields like <code>AddressNumber</code>, <code>StreetName</code> and <code>ZipCode</code>.</p>
        <form class="form" role="form">
          {% csrf_token %}
          <input name="address" type="text" class="form-control" id="address" placeholder="123 Main St. Suite 100 Chicago, IL">
          <button id="submit" class="btn btn-success mt-3">Parse!</button>
        </form>
      </div>
      <div id="address-results" style="display:none">
        <h4>Parsing results</h4>
        <p>Address type: <strong><span id="parse-type"></span></strong></p>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Address part</th>
              <th>Tag</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
  form.addEventListener("submit", function(e) {
    // Stop immediate form submission
    e.preventDefault();

    // Reset div by removing existing table rows
    var table = document.getElementsByClassName("table table-bordered")[0];
    while(table.rows.length > 0) {
      table.deleteRow(0);
    }
    
    // Grab user input from form
    var address = form.elements['address'].value;
    // Use jquery to make GET request and handle returned data
    $.getJSON('/api/parse', {address: address}, function(data) {
      // Make sure the results section is displayed
      $('#address-results').show();
      // If address components = -1, it means the view returned an error
      if(data["address_components"] == -1) {
        // Address type will contain the error
        $("#parse-type").text(data["address_type"]);
      } else {
        // Display address type
        $("#parse-type").text(data["address_type"]);
        var table = document.getElementsByClassName("table table-bordered")[0];
        // Create a new row for each address component
        for(let key in data["address_components"]) {
          var newRow = table.insertRow();
          var addressPart = newRow.insertCell();
          var tag = newRow.insertCell();
          addressPart.innerHTML = key;
          tag.innerHTML = data["address_components"][key];
        }
      }
    });
  });
</script>
{% endblock %}
